---
import Button from '../ui/Button.astro';
---

<div class="container-article text-lg my-12 py-8 border-t border-slate-300 dark:border-slate-700">
  <h3>Written by <strong>Jeremiah Chienda</strong></h3>
  <h1 class="leading-7 my-4 text-muted border-l-4 pl-6 border-primary">
    Jeremiah is a Full Stack Engineer with 7+ years of experience leading multinational Engineering teams accross
    HealthTech, FinTech, AgriTech and GovTech in Africa.
  </h1>
  <Button href="/about" variant="tertiary">Learn more</Button>
</div>
