---
import { TwitterTweetEmbed } from 'react-twitter-embed';
---

<div class="container-lg flex flex-col items-center">
  <TwitterTweetEmbed client:visible tweetId={'933354946111705097'} options={{width: '100%'}} />
</div>
