---
import Headline from '~/components/ui/Headline.astro';
import LogoCloud from './LogoCloud.astro';
import { logos } from '~/company-logos';
---

<div class="container" id="about">
  <Headline
    tagline="You're in Great Company"
    subtitle="Over the last 10 years, I've had the great priviledge of working with and for some amazing organizations"
  />
  <LogoCloud logos={logos} />
</div>
