---
import BlogListItem from './BlogListItem.astro';
import Headline from '~/components/ui/Headline.astro';
import { APP_BLOG } from '~/utils/config';
import { findLatestPosts } from '~/utils/blog';
import FormContainer from '~/components/ui/Form.astro';
import type { Input } from '~/types';

type Props = {
  count?: number;
};

const { count = 4 } = Astro.props;
const posts = APP_BLOG.isEnabled ? await findLatestPosts({ count }) : [];
const signupInputs: Input[] = [
  {
    name: 'email',
    label: 'Email',
    type: 'email',
    placeholder: 'Enter your email address to signup',
  },
];
---

<div>
  <Headline
    tagline="Fresh from the Blog"
    subtitle="My goal is to help you think about Sofware Engineering like a Senior Engineer. I write mostly about React and .NET, but a lot of the content is applicable to any language or framework."
  />
  <div class="flex flex-col lg:flex-row container-lg my-8 gap-x-8">
    <div class="flex-1">
      {posts.map((post) => <BlogListItem post={post} />)}
    </div>
    <div class="flex-1">
      <FormContainer
        title="Don't get left behind!"
        inputs={signupInputs}
        description="Subscribe and get notified whenever I publish a new article and receive exclusive content."
        disclaimer={{ label: 'No spam. Unsubscribe at any time.' }}
        button="Signup"
      />
    </div>
  </div>
</div>
