---
import { Bio } from '~/components/widgets/Bio.tsx';
import Hero2 from '~/components/widgets/Hero2.astro';
import Layout from '~/layouts/PageLayout.astro';
import WorkExperience from '~/components/widgets/cells/WorkExperience.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Hero2>
    <Fragment slot="title">More <span class="underlined">About</span> Me</Fragment>

    <Fragment slot="subtitle">
      I was born in the same year of Nelson Mandela's / Release from the Cellar / A ragged ol' fella / I didn't know
      better / Except I had a spring like Floyd Mayweather
    </Fragment>
    <Fragment slot="content">
      <a href="https://getalinafe.com">&gt;&gt; Liwu, Word is Born</a>
    </Fragment>
  </Hero2>

  <div class="flex relative container my-12 gap-x-4">
    <div class="w-3/5">
      <Bio client:visible />
    </div>
    <div class="w-2/5">
      <div class="w-6/8 mx-auto flex flex-col rounded-xl bg-card py-4 px-8">
        <h3 class="mb-8 font-semibold flex items-center gap-x-2">Professional History</h3>
        <WorkExperience
          title="Irembo"
          position="Senior Software Engineer"
          duration="2019 - Present"
          location="Kigali, RW"
          image="irembo"
        />
      </div>
    </div>
  </div>
</Layout>
