---
import { Bio } from '~/components/widgets/Bio.tsx';
import Hero2 from '~/components/widgets/Hero2.astro';
import Layout from '~/layouts/PageLayout.astro';
import WorkExperience from '~/components/widgets/cells/WorkExperience.astro';
import Briefcase from '~/components/icons/Briefcase.astro';
import { workExperience } from '~/data/work-experience';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Hero2>
    <Fragment slot="title">More <span class="underlined">About</span> Me</Fragment>

    <Fragment slot="subtitle">
      I was born in the same year of Nelson Mandela's / Release from the Cellar / A ragged ol' fella / I didn't know
      better / Except I had a spring like Floyd Mayweather
    </Fragment>
    <Fragment slot="content">
      <a href="https://getalinafe.com">&gt;&gt; Liwu, Word is Born</a>
    </Fragment>
  </Hero2>

  <div class="flex flex-col lg:flex-row relative container my-12 gap-x-4">
    <div class="w-full lg:w-3/5">
      <Bio client:visible />
      <Button href="/contact" variant="tertiary">Get in Touch</Button>
    </div>
    <div class="w-full md:w-2/3 md:mx-auto lg:w-2/5 mt-8 lg:mt-0">
      <div class="w-6/8 mx-auto flex flex-col rounded-xl bg-card py-4 px-8">
        <h3 class="mb-8 font-semibold flex items-center gap-x-2">
          <span><Briefcase className="stroke-default" /></span> Professional History
        </h3>
        <div class="flex flex-col gap-y-6">
          {workExperience.map((experience) => <WorkExperience {...experience} />)}
        </div>
        <div class="mx-auto my-8">
          <Button href="https://linkedin.com/in/jchienda" variant="primary">View LinkedIn Profile</Button>
        </div>
      </div>
    </div>
  </div>
</Layout>
