---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero2 from "../components/widgets/Hero2.astro";
import clsx from "clsx";
import Button from "../components/ui/Button.astro";
import Contact from "../components/widgets/Contact.tsx";
import Headline from "../components/ui/Headline.astro";

const metadata = {
  title: 'Contact',
};

const form = {
  title: "Let's do some amazing stuff together!",
  description: "Feel free to select from any of the options below to figure out how best I can be of value to you"
}
---

<Layout metadata={metadata}>
  <Hero2/>

  <div class="container w-full flex flex-col-reverse md:flex-row justify-end">
    <div class="w-full lg:w-2/5 lg:-mt-18 z-10">
     <Contact client:load />
    </div>
    <div class="w-full lg:w-3/5">
      <Features2
        columns={2}
        subtitle="Here are some things I can help you with"
        items={[
          {
            title: 'Consulting',
            description: "I help companies of all sizes navigate complex Automation problems including Requirements Gathering, Software Development and more",
            icon: 'tabler:briefcase',
          },
          {
            title: 'Speaking',
            description:
              "I will speak at your organization or conference on a wide area of Engineering topics, including Blockchain, Fintech, AI and the African Tech Ecosystem at large",
            icon: 'tabler:presentation',
          },
          {
            title: 'Research',
            description:
              "I conduct high-quality Research to gain deeper insights on the technology issues you care about, using modern data-gathering, analysis and presentation techniques",
            icon: 'tabler:test-pipe',
          },
          {
            title: 'Training',
            description: "I have helped organizations imporove their teams' competencies on various Software Engineering topics, such as Continuous Integration, Automated Tested and more.",
            icon: 'tabler:school',
          }
        ]}
      />
    </div>
  </div>
  <div class="container flex flex-col justify-center items-center my-12">
    <Headline
      tagline="Need some mentorship?"
      subtitle="I have dedicated some time from my busy schedule for technical mentorship mostly in form of Pair Programming"
    />
    <Button href="#" variant="tertiary">Book a 30 Minute 1:1 With Me Here (It's Free :)</Button>
  </div>

</Layout>
