---
import { findLatestPosts } from '~/utils/blog';
import BlogListItem from '../widgets/BlogListItem.astro';

export interface Props {
  count: number;
  currentPage: number;
}

const { count, currentPage } = Astro.props;
const posts = await findLatestPosts({ count, offset: (currentPage - 1) * count });
---
<ul class="flex flex-col gap-y-4 lg:gap-y-8" id="server-posts">
  {posts.map((post) => <li><BlogListItem post={post} extended /></li>)}
</ul>
