---
import { getPermalink } from '~/utils/permalinks';

import { APP_BLOG } from '~/utils/config';
import type { Post } from '~/types';
import Button from '../ui/Button.astro';

export interface Props {
  tags: Post['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <>
      <>
        {title !== undefined && (
          <span class="align-super font-normal underline underline-offset-4 decoration-2 dark:text-slate-400">
            {title}
          </span>
        )}
      </>
      <ul class={className}>
        {tags.map((tag) => (
          <li class="inline-block mr-2 rtl:mr-0 mb-2 py-0.5 px-1 lowercase font-medium">
            {!APP_BLOG?.tag?.isEnabled ? (
              tag
            ) : (
              <Button
              class="py-1 px-4 text-muted"
                href={getPermalink(tag, isCategory ? 'category' : 'tag')}
              >
                {tag}
              </Button>
            )}
          </li>
        ))}
      </ul>
    </>
  )
}
